<table
  cellpadding="0"
  cellspacing="0"
  border="0"
  style="
    font-family: Arial, sans-serif;
    font-size: 11pt;
    color: #333333;
    border-collapse: collapse;
  "
>
  <tbody>
    <tr>
      <td style="padding-right: 15px; vertical-align: top">
        <img
          src="https://drive.google.com/file/d/1ME-pqYqPBGsMPO_PzYT6bDU9SetP8g5D"
          alt="School Logo"
          width="150"
          style="display: block; border: 0"
        />
      </td>

      <td
        style="
          vertical-align: top;
          border-left: 2px solid #005a9c;
          padding-left: 15px;
        "
      >
        <p style="margin: 0; font-size: 14pt; font-weight: bold; color: #000000"
          >Rhiannon Rose, RN</p
        >
        <p style="margin: 2px 0 10px 0; color: #444444">School Nurse</p>

        <p style="margin: 0; line-height: 1.4">
          <strong style="color: #005a9c">Olive-Mary Stitt Elementary</strong
          ><br />
          <em style="font-size: 10pt; color: #555555"
            >All Are Welcome. Many Identities. One School.</em
          >
        </p>

        <p style="margin: 10px 0">
          <a
            href="mailto:rrose@sd25.org"
            style="text-decoration: none; color: #333333"
            >rrose@sd25.org</a
          >
          <span style="color: #cccccc">&nbsp;|&nbsp;</span>
          <span style="color: #333333">f: (847) 394-6935</span>
        </p>

        <p
          style="
            margin: 10px 0 15px 0;
            font-style: italic;
            font-size: 10pt;
            color: #777777;
          "
        >
          Together Today 2 Transform Tomorrow
        </p>

        <p style="margin: 0">
          <a
            href="[COMMUNITY_SUPPORT_URL]"
            target="_blank"
            style="
              background-color: #007bff;
              color: #ffffff;
              padding: 8px 15px;
              border-radius: 5px;
              text-decoration: none;
              font-weight: bold;
              font-size: 10pt;
            "
            >Click here for Community Support</a
          >
        </p>
      </td>
    </tr>
  </tbody>
</table>
